<thead>
  <tr>
    {{table-th name="Dimension"}}
    {{table-th name="Boards"}}
    {{table-th name="BoardFeet"}}
    {{#table-th}}{{fa-icon "cogs"}}{{/table-th}}
  </tr>
</thead>
<tbody>
  <tr class="total">
    <td>All Dimensions</td>
    <td>{{total_boards}}</td>
    <td>{{format-number total_boardfeet}}</td>
  </tr>
  {{#each model as |row|}}
    <tr class="{{row-class row}}">
      <td>
        {{#link-to "production.dimension" row.DimensionID}}
          {{row.DimensionName}}
        {{/link-to}}
      </td>
      <td class="quantity">{{row.boards}}</td>
      <td class="quantity">{{format-number row.boardfeet precision=2}}</td>
      <td><input type="checkbox" disabled={{eq row.BoardsSum 0}}></td>
    </tr>
  {{/each}}
</tbody>