<table class="table">
  <thead>
    <tr>
      <th>Dimension</th>
      <th>Boards</th>
      <th>BoardFeet</th>
      <th>{{fa-icon "cogs"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="total">
      <td>All Dimensions</td>
      <td>{{total_boards}}</td>
      <td>{{format-number total_boardfeet}}</td>
    </tr>
    {{#each model as |row|}}
    <tr class="{{row-class row}}">
      <td>
        {{#link-to "production.dimension" row.DimensionID}}
        {{row.DimensionName}}
        {{/link-to}}
      </td>
      {{!-- <td class="quantity">{{row.BoardsSum}}</td> --}}
      <td class="quantity">{{row.boards}}</td>
      {{!-- <td class="quantity">{{format-number row.BoardFeetSum precision=2}}</td> --}}
      <td class="quantity">{{format-number row.boardfeet precision=2}}</td>
      <td><input type="checkbox" disabled={{eq row.BoardsSum 0}}></td>
    </tr>
    {{/each}}
  </tbody>
</table>